name: build-image

on:
    workflow_dispatch:
      inputs:
        CLIENT:
          required: false
          type: string
          default: "test"
        IMAGE_TAG:
          required: true
          type: string
        CO_SIGN:
          type: boolean
          required: false
          default: false
        PLATFORMS:
            type: boolean
            required: false
            default: false
jobs:
  tag-for-go-module:
    name: Create Git tag so Go modules can resolve this version
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Create git tag matching IMAGE_TAG
        run: |
          git tag -f "go/${{ inputs.IMAGE_TAG }}"
          git push origin "go/${{ inputs.IMAGE_TAG }}" --force

  publish-image:
    needs: tag-for-go-module
    permissions:
      id-token: write
      packages: write
      contents: read
    uses: ./.github/workflows/publish-image.yaml
    with:
      client: ${{ inputs.CLIENT }}
      image_name: "ghcr.io/${{ github.repository_owner }}/storage"
      image_tag: ${{ inputs.IMAGE_TAG }}
      support_platforms: ${{ inputs.PLATFORMS }}
      cosign: ${{ inputs.CO_SIGN }}
    secrets: inherit